version: '3'
services:
  testsamlidp_idp:
    build: .
    environment:
      SIMPLESAMLPHP_SP_ENTITY_ID: enterprise.itpro.tv
      SIMPLESAMLPHP_SP_ASSERTION_CONSUMER_SERVICE: http://enterprise.itpro.test:1338/saml-company/saml/callback
      SIMPLESAMLPHP_SP_SINGLE_LOGOUT_SERVICE: http://enterprise.itpro.test:1338/saml-company/logout
      SIMPLESAMLPHP_ADMIN_PASSWORD: test
      SIMPLESAMLPHP_SECRET_SALT: salt
    ports:
    - "8080:8080"
    - "8443:8443"
    #volumes:
    #- /users.php:/var/www/simplesamlphp/config/simplesamlphp/authsources.php
